#page-container {
    position: relative;
    min-height: 50vh;
  }

  #private-container{
    position: relative;
    min-height: 25vh;
  }

  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

  #mainContent {
    display: inline-flex;
  }
  
  #footer {
    background-color: black;
    position: absolute;
    bottom: -1%;
    width: 100%;
    height: 3rem;            /* Footer height */
    
  }

  #footer p
  {
    color: white;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  #badge{
    margin-left: -2px;
  }

  .abovefooter {position: relative; left:50%; margin-left:-20px; bottom: -550px;  z-index:10;}

  .forindex{position: relative; left:45%; bottom: -78px; z-index:10;}
  
  .neon {margin-bottom:-9.5%; margin-right: 0.5%;}

  .pagesize {
    width: 100%;
    max-width: 675px; /* or whatever width you want */
    margin-left: auto;
    margin-right: auto;
}

.privacybox{border: 2px solid black; bottom: -10px; position: relative; box-sizing: border-box; width: 100%; left: 0%;}

.p{border: 2px solid black; bottom: -210px; position: relative; z-index:10; box-sizing: border-box;
    width: 60%; left: 20%;}

.separate{width: 70%; margin: 0px auto; border-top: 4px solid black; }    

.bottombored{border-bottom: 2px solid black; margin: 0; width: 50%;}    