#page-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    height: 2000px;
  }

  #private-container{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 800px;
  }

  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
 
 @media screen and (max-width: 0px){
    #page-container{ width: 100%; height: 100%;}
    header{width: 100%}
    footer{width: 100%}
    img{scale: 20%}
}

  
  #footer {
    background-color: black;
    position: absolute;
    bottom: -5%;
    width: 100%;
    height: 3rem;            /* Footer height */
    
  }

#footer p
  {
    color: white;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

#badge{ margin-left: -2px; }

#neontitle{display: block; font-size: 11px;  margin-right: 44%;}

#minititle{display: block; font-size: 11px;  margin-right: 45%;}

#stairstitle{display: block; font-size: 12px;  margin-right: 47%;}

#Switchtitle{display: block; font-size: 11px;  margin-right: 47%;}

#blockstitle{display: block; font-size: 11px;  margin-right: 46%;}

#SwitchPic{position: relative; left: -17px;}

.abovefooter {position: relative; bottom: -130px;  z-index:10;}

.forindex{position: relative; left:45%; bottom: -78px; z-index:10;}
  
.neon {margin-bottom:-8%; margin-right: 0.5%;}

.privacybox{border: 2px solid black; bottom: -10px; position: relative; box-sizing: border-box; width: 100%; left: 0%;}

.p{border: 2px solid black; padding-bottom: -75px; position: relative; z-index:10; box-sizing: border-box;
    width: 58%; left: 21%;}

.separate{width: 60%; margin: 0px auto; border-top: 4px solid black; }    

.bottombored{border-bottom: 2px solid black; margin: 0; width: 50%}    